:root {
    --primary-color: #8C331F;
    --bg-cells-color: #D96523;
    --bg-nav-color: #59261B;
    --bg-light-color: #F2AF5C;
    --bg-dark-color: #0D0D0D;
    --txt: white;

    --primary-color-inverse: invert(var(--primary-color));
    --bg-cells-color-inverse: invert(var(--bg-cells-color));
    --bg-nav-color-inverse: invert(var(--bg-nav-color));
    --bg-light-color-inverse: invert(var(--bg-light-color));
    --bg-dark-color-inverse: invert(var(--bg-dark-color));
    --txt-inverse: invert(var(--txt));

    --c1: #FFFFFF;
    --c2: #DE0050;
    --c3: #C32400;
    --c4: #9E0D00;
    --c5: #002F8E;
    --c6: #7C007C;
    --c7: #3A003A;
    --c8: var(--bg-dark-color);
}