@import url(./root.css);
@import url(./form.css);
@import url(./demineur.css);
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype"),
    url("fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype"),
    url("fonts/Roboto/Roboto-Thin.ttf") format("truetype"),
    url("fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype"),
    url("fonts/Roboto/Roboto-Medium.ttf") format("truetype"),
    url("fonts/Roboto/Roboto-LightItalic.ttf") format("truetype"),
    url("fonts/Roboto/Roboto-Light.ttf") format("truetype"),
    url("fonts/Roboto/Roboto-Italic.ttf") format("truetype"),
    url("fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype"),
    url("fonts/Roboto/Roboto-Bold.ttf") format("truetype"),
    url("fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype"),
    url("fonts/Roboto/Roboto-Black.ttf") format("truetype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: white;
}

.dnone{
  display: none;
}

body{
    background-color: var(--bg-dark-color);
}

nav.nav{
    background-color: var(--bg-nav-color);
    color: var(--txt);
    height: 100px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

}

.text{
  display: flex;
  flex-direction: row;
}

.text>p{
  padding: 15px;
}

.container{
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

button.restart{
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  text-transform: uppercase;
}
/*****************************************************************************/
